<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.roubaisha.counter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name=".prayertime.AppController"
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TasbihOption"></activity>
        <activity android:name=".PendingPrayerLayerActivity" />
        <activity android:name=".PendingPrayersActivity" />
        <activity android:name=".StopAzaan" />

        <service
            android:name=".Services.PrayerReminderService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.TravelDetectionService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".Services.SoundService" />

        <receiver
            android:name=".Services.RestartPrayerReminderService"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.example.roubaisha.counter.RestartPrayerReminderService" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Services.RestartTravelDetectionService"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.example.roubaisha.counter.RestartTravelDetectionService" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NotificationActionReceiver"
            android:enabled="true" />

        <activity android:name=".StopSound" />
        <activity android:name=".YesResponse" />
        <activity android:name=".NoResponse" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Login_Signup.Login_MainActivity" />
        <activity android:name=".Login_Signup.Login_form" />
        <activity android:name=".Login_Signup.Signup_form" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCz4UCmnlDyHo_H_aOAF7yMrCuf0gNghdw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CounterActivity" />
        <activity
            android:name=".TasbihActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".MoreActivity" />
        <activity
            android:name=".GalleryActivity"
            android:parentActivityName=".TasbihActivity" />
        <activity
            android:name=".CalendarActivity"
            android:parentActivityName=".MoreActivity" />
        <activity
            android:name=".PrayerGuidance"
            android:label="@string/title_activity_prayer_guidance"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Map.MapsActivity"
            android:parentActivityName=".MoreActivity" />
        <activity
            android:name=".prayertime.PrayerTimeActivity"
            android:parentActivityName=".MoreActivity" />
        <activity android:name=".duaen.Duaen" />
        <activity android:name=".duaen.D_ListActivity" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Names.AllahNamesActivity"/>
    </application>

</manifest>